/* #cv-maker {
    border: 4px solid rgb(24, 3, 121);
}

#cv-tamplate {
    border: 4px solid rgb(24, 3, 121);


}

.myimage {
    /* border: 2px solid red; */
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 50%;
}

.bgcolor {
    background-color: rgb(24, 3, 121);
    color: aliceblue;
} */

/* <!--Musharaf Ali  --> */